<h1>#tél_à_cadran</h1>
<p>On se bigophone ?</p>
<p>Savais-tu que jusque 1997 les numéros de téléphone en France n'avaient que 8 chiffres ?</p>
<p>What a Crazy World</p>
<%= image_tag("https://media.giphy.com/media/6FoSsGSo6F7u8/giphy.gif") %>
